<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Необходимо для выполнения команд очистки кэша</string>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>Необходимо для доступа к системным кэшам</string>
</dict>
</plist>
